html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: none;
  font-size: 32px;
  border: 10px solid black;
  font-family: "Comic Sans MS";

  overflow-y: scroll; // haha

  // for background opacity
  position: relative;
  &::after {
    content: "";
    opacity: 0.2;
    background: url(../img/star-field-inv.gif);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

p {
  padding: 0;
  margin: 0;
}

pre {
  background-color: white;
  font-size: 25px;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
  filter: $filter;
}

aside {
  font-size: 20px;
  float: left;
  padding: 30px 5px;
  height: 100%;
  width: 15%;
  overflow-y: scroll;
  border-right: 3px solid black;
  ul {
    list-style: none;
  }
  li {
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    background: url(../img/link-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    &.active {
      @include filter(hue-rotate(105deg) saturate(5));
    }
    &:hover {
      @include filter(hue-rotate(180deg) saturate(5));
    }
  }
}

.console {
  margin: 15px 0;
  border-radius: 15px;
  border: 5px solid black;
  padding: 10px;
  font-family: monospace;
  font-size: 25px;
  background-color: white;
}

.loading {
  section {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 20px 10px 10px 0;
  font-size: 38px;
}

h2 {
  margin: 20px 0 0;
  font-size: 35px;
}

ul, li {
  padding: 0;
  margin: 0;
}

section ul>li {
  margin-left: 1.2em;
}

li {
  list-style-position: outside;
}

$section-horiz-padding: 70px;
section {
  position: relative;
  height: 100%;
  padding: 50px $section-horiz-padding 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  >* {
    min-width: 75%;
  }

  header, footer {
    position: absolute;
    left: $section-horiz-padding;
  }

  header {
    top: 50px;
  }

  footer {
    bottom: 50px;
  }
}

.intro {
  font-size: 28px;
  .warning {
    display: none;
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 2;
  }
  header {
    font-family: Times;
    font-size: 30px;
  }
}

.what-is {
  p {
    margin-bottom: 20px;
  }
}

.hey-suckah {
  padding: 0.7em;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}

.Makefiles {
  position: relative;
  padding-top: 0px;

  header {
    position: relative;
    top: 0;
    left: 0;
  }

  img {
    vertical-align: -15%;
    height: 100px;
  }

  pre {
    margin-top: 0;
    font-size: 30px;
    .colon {
      font-size: 120px;
    }
  }

  .console {
    position: absolute;
    min-width: 0%;
    top: 10px;
    right: 200px;
    img {
      margin-left: 10px;
    }
  }

  .hey-suckah {
    position: absolute;
    display: inline-block;
  }
}

.oh-grunt {
  padding-top: 10px;

  pre {
    margin: 10px 0 0;
  }
  h2 {
    margin-top: 30px;
  }
  >div {
    background-color: white;
  }
  .console {
    width: 30%;
  }
}

.oh-grunt-3 {
  font-size: 28px;
  pre {
    background-color: white;
    margin-top: 20px;
    width: 50em;
    height: 18em;
    overflow: scroll;
    font-size: 17px;
  }
}

.oh-gulp, .oh-gulp-4 {
  padding-top: 5px;
  div {
    height: 100%;
  }
  pre {
    max-height: 100%;
    overflow-y: scroll;
  }
}

.oh-gulp-3 {
  img {
    position: relative;
  }
  div img {
    height: 100px;
    width: 80%;
  }
}

.broccoli, .intro {
  .hey-suckah {
    position: relative;
    top: -13px;
    z-index: 2;
  }
}

.broccoli-2, .sigh-3, .sigh-4 {
  height: 100%;
  >div {
    height: 100%;
  }
  pre {
    height: 80%;
    overflow-y: scroll;
  }
}

.moaning {
  li ul {
    margin-top: 10px;
  }
  li li {
    margin-left: 0;
    padding-left: 70px;
    height: 80px;
    line-height: 70px;
    list-style: none;
    background: url('../img/wtf.png') no-repeat 0 0;
  }
}

.sigh-2 {
  >div {
    position: relative;
    top: -2em;
  }
}

.sigh-3 {
  padding: 10px;
}

.sigh-3, .sigh-4 {
  >* {
    min-width: 85%;
  }
}

.sigh-3, .sigh-4 {
  .console {
    padding: 10px 20px;
  }
  header {
    height: 60%;
    pre {
      height: 100%;
    }
  }
}

.sigh-6 {
  line-height: 1em;
  .console {
    font-size: 70%;
  }
}
