html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: none;
  font-size: 25px;
  border: 10px solid black;
  font-family: "Comic Sans MS";

  overflow-y: scroll; // haha

  // for background opacity
  position: relative;
  &::after {
    content: "";
    opacity: 0.2;
    background: url(../img/star-field-inv.gif);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

p {
  padding: 0;
  margin: 0;
}

pre {
  background-color: white;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
  filter: $filter;
}

aside {
  font-size: 80%;
  float: left;
  padding: 30px 5px;
  height: 100%;
  width: 15%;
  overflow-y: scroll;
  border-right: 3px solid black;
  ul {
    list-style: none;
  }
  li {
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    background: url(../img/link-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    &.active {
      @include filter(hue-rotate(105deg) saturate(5));
    }
    &:hover {
      @include filter(hue-rotate(180deg) saturate(5));
    }
  }
}

.console {
  margin: 15px 0;
  border-radius: 15px;
  border: 5px solid black;
  padding: 10px;
  font: fixed;
  background-color: white;
}

.loading {
  section {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 20px 10px 10px 0;
}

h2 {
  margin: 20px 0 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

li>ul>li {
  padding-left: 30px;
}

li {
  list-style-position: inside;
}

$section-horiz-padding: 70px;
section {
  position: relative;
  height: 100%;
  padding: 50px $section-horiz-padding 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  >* {
    min-width: 75%;
  }

  header, footer {
    position: absolute;
    left: $section-horiz-padding;
  }

  header {
    top: 50px;
  }

  footer {
    bottom: 50px;
  }
}

.intro header {
  font-family: Times;
  font-size: 120%;
}

.what-is {
  p {
    margin-bottom: 20px;
  }
}

.Makefiles {
  position: relative;
  padding-top: 0px;

  header {
    position: relative;
    top: 0;
    left: 0;
  }

  img {
    vertical-align: -15%;
    height: 100px;
  }

  pre {
    margin-top: 0;
    font-size: 120%;
    .colon {
      font-size: 360%;
    }
  }

  .console {
    position: absolute;
    min-width: 0%;
    top: 10px;
    right: 200px;
    img {
      margin-left: 10px;
    }
  }

  .hey-man {
    display: inline-block;
    padding: 7px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
  }
}

.oh-grunt {
  padding-top: 10px;

  pre {
    margin: 10px 0 0;
  }
  h2 {
    margin-top: 30px;
  }
  >div {
    background-color: white;
  }
  .console {
    width: 30%;
  }
}

.oh-grunt-2 pre {
  background-color: white;
  margin-top: 20px;
  width: 800px;
  height: 250px;
  overflow: scroll;
  font-size: 50%;
}

.oh-gulp, .oh-gulp-4 {
  padding-top: 5px;
  div {
    height: 100%;
  }
  pre {
    max-height: 100%;
    overflow: scroll;
  }
}

.oh-gulp-3 {
  img {
    position: relative;
  }
  div img {
    height: 100px;
    width: 80%;
  }
}
