html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: none;
  font-size: 25px;
  border: 10px solid black;
  font-family: "Comic Sans MS";

  overflow-y: scroll; // haha

  // for background opacity
  position: relative;
  &::after {
    content: "";
    opacity: 0.2;
    background: url(../img/star-field-inv.gif);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

p {
  padding: 0;
  margin: 0;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
  filter: $filter;
}

aside {
  font-size: 80%;
  float: left;
  padding: 30px 5px;
  height: 100%;
  width: 15%;
  overflow-y: scroll;
  border-right: 3px solid black;
  ul {
    list-style: none;
  }
  li {
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    background: url(../img/link-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    &.active {
      @include filter(hue-rotate(105deg) saturate(5));
    }
    &:hover {
      @include filter(hue-rotate(180deg) saturate(5));
    }
  }
}

.loading {
  section {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0 10px 20px 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

li>ul>li {
  padding-left: 30px;
}

li {
  list-style-position: inside;
}

$section-horiz-padding: 70px;
section {
  position: relative;
  height: 100%;
  padding: 50px $section-horiz-padding 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  >* {
    min-width: 75%;
  }

  header, footer {
    position: absolute;
    left: $section-horiz-padding;
  }

  header {
    top: 50px;
  }

  footer {
    bottom: 50px;
  }
}

.intro header {
  font-family: Times;
  font-size: 120%;
}
